.title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f9cbf3;
    ;
}