.nav {
    grid-area: n;
    background-color: #FFF2FE;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
}