.item {
    border: 1px solid #F8DDF5;
    text-align: center;
    margin: 5px;
}

.settings {
    margin-top: auto;
    margin-bottom: 5px;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover{
    color: white;
}

.a:hover {
    background-color: #24D1F8;
}

.item a:active {
    color: #24D1F8;
}

