@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

.app-wrapper {
    display: grid;
    padding: 10px;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-row-gap: 8px;
    grid-column-gap: 16px;
}

.button {
    background-color: #24D1F8;
    color: white;
    border: 0px;
    width: 150px;
    height: 40px;
    font-size: 20px;
}